.newteam {
    flex: 4;
  }
  
  .addteamForm {
    margin-top: 10px;
  }
  
  .addteamItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addteamItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addteamItem > input {
    padding: 10px;
  }
  
  .addteamItem > select {
    padding: 10px;
  }
  
  .addteamButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  